{% extends "layout.html.twig" %}

{% block flash %}
    {% if flash() %}
        <ul class="alert alert-danger">
            {% for msg in flash() %}
                <li>{{ msg[0] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block body %}

<!-- Page Content -->
    <div class="container">

      <!-- Page Features -->
      <div class="row text-center">

        <div class="col-md-6">

          <form class="form-signin" action="" method="POST">
              <div class="form-group">
                  <label for="nom">Nom</label>
                  <input type="text" class="form-control" id="nom" name="nom" required>
              </div>
              <div class="form-group">
                  <label for="desc">Description</label>
                  <input type="text" class="form-control" id="desc" name="desc" required>
              </div>
              <div class="form-group">
                  <label for="url">Url</label>
                  <input type="text" class="form-control" id="url" name="url" required>
                  <small id="help" class="form-text text-muted">Enter URL of the image taken from the internet. <br/>
                    <a href="https://prnt.sc" target="_blank"><button type="button" class="btn btn-default">Upload your own?</button></a>
                  </small>
              </div>
              <div class="form-group">
                  <label for="longitude">Longitude</label>
                  <input type="text" class="form-control" id="longitude" value="" name="longitude" required>
                  <small id="help" class="form-text text-muted">Drag it to the exact position of the photo.</small>
              </div>
              <div class="form-group">
                  <label for="latitude">Latitude</label>
                  <input type="text" class="form-control" id="latitude" value="" name="latitude" required>
                  <small id="help" class="form-text text-muted">Drag it to the exact position of the photo.</small>
              </div>

                <input type="hidden" name="{{ nameKey }}" value="{{ name }}">
                <input type="hidden" name="{{ valueKey }}" value="{{ value }}">

              <input type="submit" class="btn btn-primary"/>
          </form>
        </div>

        <div class="col-md-6" id="mapPhoto">

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}

{% block js %}
  <script>
    var latitude = '{{ data.latitude }}';
    var longitude = '{{ data.longitude }}';
  </script>
  <script src="../assets/js/index.js"></script>
{% endblock %}
