{% extends "layout.html.twig" %}

{% block flash %}
    {% if flash() %}
        <ul class="alert alert-danger">
            {% for msg in flash() %}
                <li>{{ msg[0] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block body %}

    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <header class="jumbotron my-4">
            <h1 class="display-3">Nouvel utilisateur</h1>
          </header>
        </div>

        <div class="offset-md-3 col-md-6">
          <form class="form-signin" action="" method="POST">
            <h2 class="form-signin-heading">S'enregistrer</h2> <hr>

            <div class="form-group">
              <label for="nom" class="sr-only">Nom</label>
              <input name="nom" type="text" id="nom" class="form-control" placeholder="Nom" required autofocus>
            </div>

            <div class="form-group">
              <label for="prenom" class="sr-only">Prénom</label>
              <input name="prenom" type="text" id="prenom" class="form-control" placeholder="Prénom" required>
            </div>

            <div class="form-group">
              <label for="email" class="sr-only">Email</label>
              <input name="email" type="email" id="email" class="form-control" placeholder="Email" required>
            </div>

            <div class="form-group">
              <label for="pseudo" class="sr-only">Pseudo</label>
              <input name="pseudo" type="text" id="pseudo" class="form-control" placeholder="Pseudo" required>
            </div>

            <div class="form-group">
              <label for="password" class="sr-only">Password</label>
              <input name="password" type="password" id="password" class="form-control" placeholder="Password" required>
            </div>

            <input type="hidden" name="{{ nameKey }}" value="{{ name }}">
            <input type="hidden" name="{{ valueKey }}" value="{{ value }}">

            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

          </form>
        </div>
      </div>

    </div>
{% endblock %}