{% extends "layout.html.twig" %}

{% block body %}

<!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">Serie de {{data.ville}}</h1>
        <a href="{{ path_for('addPhoto', { 'id': data.id }) }}"><button type="button" class="btn btn-success">Ajouter photo</button></a>
      </header>

      <!-- Page Features -->
      <div class="row text-center text-lg-left">

      {% for photo in photos %}

        <div class="col-lg-3 col-md-4 col-xs-6">
            <h1>{{photo.nom}}</h1>
            <img class="img-fluid img-thumbnail" src="{{photo.url}}" alt="{{photo.description}}"> 
            <a href="{{ path_for('deletePhoto', { 'id': photo.id }) }}"><button type="button" class="btn btn-danger">Supprimer</button></a>
        </div>

      {% endfor %}
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}